<template>
  <div>
  <section id="art">
    <Layout>
      <Article> 
        <h1>Art</h1>
        <figure class="profile-img"><g-image src="~/assets/art/chair.jpg"/></figure>
		    <article>
          <p>Lynn also enjoys watercolor painting and tee-shirt design. 
          Her original watercolors are available at the <a class="link" target="_blank" href="http://rachelkdelonggallery.com/artists-montauk#/lynn-parrish-sutton">Rachel K. Delong Gallery</a> 
          in Wellfleet, MA, <a class="link" target="_blank" href="https://www.florentineframes.com/">Florentine Frames</a> in Weston, MA and online at <a class="link" target="_blank" href="https://society6.com/alittlebluesky/all">Society 6</a>.
          Her tee shirts can be found at <a class="link" target="_blank" href="https://www.redbubble.com/people/alittlebluesky/shop?asc=u">Redbubble</a> and <a class="link" target="_blank" href="https://www.teepublic.com/user/alittlebluesky">Teepublic</a>.</p>
        </article>
        <section class="art">
	        <h1>Paintings</h1>
          <figure><g-image src="~/assets/art/painting-1.jpg"/></figure>
          <figure><g-image src="~/assets/art/painting-2.jpg"/></figure>
          <figure><g-image src="~/assets/art/painting-3.jpg"/></figure>
          <figure><g-image src="~/assets/art/painting-4.jpg"/></figure>
          <figure><g-image src="~/assets/art/painting-5.jpg"/></figure>
          <figure><g-image src="~/assets/art/painting-6.jpg"/></figure>
	      </section>
        <section class="art">
	        <h1>Shirts</h1>
          <figure><g-image src="~/assets/art/shirt-1.jpg"/></figure>
          <figure><g-image src="~/assets/art/shirt-2.jpg"/></figure>
          <figure><g-image src="~/assets/art/shirt-3.jpg"/></figure>
          <figure><g-image src="~/assets/art/shirt-4.jpg"/></figure>
          <figure><g-image src="~/assets/art/shirt-5.jpg"/></figure>
          <figure><g-image src="~/assets/art/shirt-6.jpg"/></figure>
	      </section>
      </Article>
    </Layout>
  </section>
  </div>
</template>

<script>
export default {
  metaInfo: {
    title: 'Art'
  }
}

</script>

<style scoped>


.art figure {
	vertical-align: top;
  width: 20em;
	margin: 1em;
	display: inline-block;
  max-width: 100%;
}

.art{
  text-align: center;
	margin: 2em;
}

</style>