<template>
  <div>
  <section id="bio">
  <Layout>
    <Article> 
      <h1>Bio</h1>
      <figure class="profile-img"><g-image src="~/assets/bio-ratio.jpeg"/></figure>
      <article>
      <p>Lynn grew up outside Boston, Massachusetts with her parents, sister, 
        brother, and lots of pets. She studied Psychology and Women's Studies at 
        Lehigh University and earned her PhD in Social Psychology from 
        The University of Vermont. Vermont has been her home ever since. 
        She lives in Burlington with her husband, four children, and big orange cat. 
        Her favorite activities include reading, writing, knitting, watercolor painting, 
        yoga, and spending time with her family and friends in Vermont, Boston, and 
        Cape Cod.</p>
      </article>
    </Article> 
  </Layout>
  </section>
  </div>
</template>

<script>
export default {
  metaInfo: {
    title: 'Bio'
  }
}
</script>

<style>

</style>