<template>
  <div>
  <section id="books">
  <Layout>
    <Article>
      <h1>Books</h1>
      <article class="writings">
	      <section class="books">


          <div class="book">
            <figure><a target="_blank" href="https://myubam.com/p/9072/spacely"><g-image src="~/assets/books/spacely.JPG"/></a></figure>
            <div class="bookInfo">
              <h2>Spacely<span class="release"> (2021)</span></h2>
              <h3>Illustrated by <a class="link" target="_blank" href="https://melissasaylor.net/">Melissa Babcock Saylor</a></h3>
              <h3>Published by Kane Miller</h3>
              <p>Whether you love them expansively like the Milky Way or calculably like a planet’s mass, one thing is certain: it’s a love that is out of this world.</p>
            </div>
          </div>

          <div class="book">
            <figure><a target="_blank" href="https://www.amazon.com/Oceanly-Lynn-Parrish-Sutton/dp/1610678567/"><g-image src="~/assets/books/oceanly.jpg"/></a></figure>
            <div class="bookInfo">
              <h2>Oceanly<span class="release"> (2019)</span></h2>
              <h3>Illustrated by <a class="link" target="_blank" href="https://www.hazelmitchell.com/">Hazel Mitchell</a></h3>
              <h3>Published by Kane Miller</h3>
              <p>Beachly, oceanly, shorely, this is the book to share with your loved ones, in, on, beside, or even while just thinking about the ocean.</p>
            </div>
          </div>

          <div class="book">
            <figure><a target="_blank" href="https://new.myubam.com/p/7783/once-upon-a-timely"><g-image src="~/assets/books/once.jpeg"/></a></figure>
            <div class="bookInfo">
              <h2>Once Upon a Timely<span class="release"> (2019)</span></h2>
              <h3>Illustrated by <a class="link" target="_blank" href="https://www.faithpraybooks.com/">Faith Pray</a></h3>
              <h3>Published by Kane Miller</h3>
              <p>Whether you love them "glowingly like a dragon's fire" or "toweringly like a castle's spire" this adverb adventure is perfect for sharing, from once upon a time to happily ever after.</p>
            </div>
          </div>

          <div class="book">
            <figure><a target="_blank" href="https://new.myubam.com/p/7076/also-an-animal"><g-image src="~/assets/books/also-animal.jpeg"/></a></figure>
            <div class="bookInfo">
              <h2>Also an Animal<span class="release"> (2018)</span></h2>
              <h3>Illustrated by <a class="link" target="_blank" href="https://melissasaylor.net/">Melissa Babcock Saylor</a></h3>
              <h3>Published by Kane Miller</h3>
              <p>This joyful, animal ode to the love between a parent and child will have you pretending, imagining, learning and sharing with all the members of your animal kingdom.</p>
            </div>
          </div>

          <div class="book">
            <figure><a target="_blank" href="https://www.amazon.com/love-Americanly-Lynn-Parrish-Sutton/dp/1610675118/"><g-image src="~/assets/books/americanly.jpg"/></a></figure>
            <div class="bookInfo">
              <h2>Americanly<span class="release"> (2016)</span></h2>
              <h3>Illustrated by <a class="link" target="_blank" href="https://melaniehopegreenberg.blogspot.com/">Melanie Hope Greenberg</a></h3>
              <h3>Published by Kane Miller</h3>
              <p>Whether you love them colossally like the High Cascades, bountifully like the Everglades, wholesomely like a warm apple pie, or soaringly like a ninth inning fly, this loving exploration of the United States will have you shouting, "I love you shiningly, freely, Americanly!" Kid-friendly, bite-sized glossary available at www.kanemiller.com.</p>
            </div>
          </div>

          <div class="book">
            <figure><a target="_blank" href="https://new.myubam.com/p/5042/animally"><g-image src="~/assets/books/animally.png"/></a></figure>
            <div class="bookInfo">
              <h2>Animally<span class="release"> (2015)</span></h2>
              <h3>Illustrated by <a class="link" target="_blank" href="https://www.hazelmitchell.com/">Hazel Mitchell</a></h3>
              <h3>Published by Kane Miller</h3>
              <p>Animals large and small warmly and exuberantly highlight the many ways we love our children. I love you colorfully like a parrot. I love you playfully like a ferret. Whale, quail, hare, bear, impala, koala and many more help measure our abundance of affection in this rhyming declaration of devotion.</p>
            </div>
          </div>

        </section>

	      <section class="poetry">
		      <h1>Poetry and Screenplays</h1>
		      <figure><g-image src="~/assets/poetry.png"/></figure>
		      <div class="bookInfo">
		        <p>Lynn's poetry has appeared in publications such as Ladybug, <a class="link" target="_blank" href="http://www.wtcox.com/showfile.cfm?pdffile=Babybug.pdf&productid=39#page=23">Babybug</a>, The Friend, WeeOnes, <a class="link" href="https://www.csmonitor.com/2005/0121/p18s05-hfpo.html">The Christian Science Monitor</a>, 
            Mothering Magazine, Chelsea, Brain, Child Magazine, the Aurorean, Byline Magazine, Albatross, and Taproot Magazine.
            Her poetry has also been recognized in the Dorothy Sargent Rosenberg Poetry Contest. She writes screenplays with her writing partner, UVM Film and Television Studies professor <a class="link" target="_blank" href="https://www.uvm.edu/cas/english/profiles/sarah-nilsen">Sarah Nilsen</a>.</p>
		      </div>
	      </section>

      </article>
    </Article> 
  </Layout>
  </section>
  </div>
</template>

<script>
export default {
  metaInfo: {
    title: 'Books'
  }
}
</script>

<style scoped>

.writings{
	line-height: 1.6em;
	padding:1em;
  width: 100%;
}

.book {
  margin: 0 0 2.7em 0;
}

h3 {
	font-size: 1.1em;
}

.books, .poetry{
	width: 100%;
	max-width: 70em;
	margin: auto;
	padding: 1em 0 0;
	text-align: center;
}

.book figure{
  display: inline-block;
}

.writings figure{
  width: 33%;
	min-width: 15em;
	display: inline-block;
	margin: 0 2.7em 0 0;
}

.bookInfo{
	display: inline-block;
	width: 44%;
	min-width: 15em;
	vertical-align: top;
	text-align: left;
}

h2{
	font-weight: bold;
	font-size: 1.2em;
}

h2 span{
	font-weight: normal;
}

.book p{
  font-size: 1em;
	margin:1em 0;
}

@media screen and (max-width: 444px) {
	.writings figure{
		margin:0;
  }

}

</style>
