<template>
  <Layout>
    <Article>
      <figure class="profile-img"><g-image src="~/assets/profile.jpeg"/></figure>
      <article>
      <p>Lynn Parrish Sutton writes children's books, poetry, and screenplays. 
        She has six picture books with Kane Miller/Usborne Books, 
        <a class="link" target="_blank" href="https://www.amazon.com/love-Americanly-Lynn-Parrish-Sutton/dp/1610675118/">Animally</a>, 
        <a class="link" target="_blank" href="https://www.myubam.com/p/6000/americanly">Americanly</a>, 
        <a class="link" target="_blank" href="https://new.myubam.com/p/7076/also-an-animal">Also an Animal</a>, 
        <a class="link" target="_blank" href="https://www.amazon.com/Oceanly-Lynn-Parrish-Sutton/dp/1610678567/">Oceanly</a>, 
        <a class="link" target="_blank" href="https://new.myubam.com/p/7783/once-upon-a-timely">Once Upon a Timely</a>, and 
        <a class="link" target="_blank" href="https://myubam.com/p/9072/spacely">Spacely</a>. 
        Lynn's poetry and fiction for children have appeared in Ladybug, Babybug, Stories for Children, WeeOnes and The Friend. 
        Her writing has also appeared in publications such as The Christian Science Monitor, Mothering Magazine, Chelsea, Brain Child Magazine, 
        The Aurorean and Taproot Magazine, and has been recognized by the Dorothy Sargent Rosenberg Poetry Prize.</p>
      </article>

      <section class="prev">
        <figure><a target="_blank" href="https://myubam.com/p/9072/spacely"><g-image src="~/assets/books/spacely.JPG"/></a></figure>
        <figure><a target="_blank" href="https://www.amazon.com/Oceanly-Lynn-Parrish-Sutton/dp/1610678567/"><g-image src="~/assets/books/oceanly.jpg"/></a></figure>
        <figure><a target="_blank" href="https://new.myubam.com/p/7783/once-upon-a-timely"><g-image src="~/assets/books/once.jpeg"/></a></figure>
        <figure><a target="_blank" href="https://new.myubam.com/p/7076/also-an-animal"><g-image src="~/assets/books/also-animal.jpeg"/></a></figure>
        <figure><a target="_blank" href="https://www.amazon.com/love-Americanly-Lynn-Parrish-Sutton/dp/1610675118/"><g-image src="~/assets/books/americanly.jpg"/></a></figure>
        <figure><a target="_blank" href="https://new.myubam.com/p/5042/animally"><g-image src="~/assets/books/animally.png"/></a></figure>
      </section>
    </Article>
  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: 'Home'
  }
}
</script>

<style scoped>

.prev {
    text-align: center;
    padding: 1em 2em 0 2em;
}

.prev figure {
    width: 12em;
    height: 12em;
    margin: 1em;
    display: inline-block;
}

</style>
