<template>
    <section class="content">
        <div>
            <slot/>
        </div>
    </section>
</template>


<style>

    .content{
        background-color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }

    .content h1{
        text-align: center;
        font-weight: bold;
        padding: 0em 0em 2em 0em;
        font-size: 1.3em;
        text-transform: uppercase;
    }

    .content > div {
        padding: 4em;
        margin: auto;
        max-width: 70em;
        min-height: 30em;
    }

    .content p {
        color: #222;
        font-size: 1.1em;
        width: 100%;
        text-align: left;
    }

    .link {
        color: #777777;
    }

    .link:hover {
        color: #444444;
    }

    .profile-img {
        display: inline-block;
        margin: 0em 4em 2em 0em;
    }

    figure {
        width: 20em;
        display: inline-block;
        max-width: 100%;
    }

    article {
        margin-bottom: 1em;
        display: inline-block;
        width: 60%;
        vertical-align: top;
        line-height: 1.8em;
    }

    @media screen and (max-width: 1100px) {

        article {
            width: 100%;
        }
    }


</style>