<template>
    <footer>
        <section class="social">
			<figure><a target="_blank" href="https://www.instagram.com/lynnparrishsutton/"><g-image src="~/assets/social/insta.png" width="500"/></a></figure>
			<figure><a target="_blank" href="https://www.facebook.com/Lynn-Parrish-Sutton-1610663412526356/"><g-image src="~/assets/social/face.png" width="500"/></a></figure>
			<figure><a target="_blank" href="mailto:lynnparrishsutton@gmail.com"><g-image src="~/assets/social/mail.png" width="500"/></a></figure>
		</section>
    </footer>
</template>

<style scoped>

footer{
	background-color: #222;
    text-align: center;
	padding: 2em;
}

.social figure{
	width: 4em;
	display: inline-block;
	margin: 0 0.5em;
}

img{
	width:100%;
	height:100%;
}


</style>