<template>
  <header>
    <g-link to="/">
        <div class="brand">
            <h1>Lynn Parrish Sutton</h1>
        </div>
      </g-link>
      <nav class="nav">
        <g-link class="nav__link" to="/">Home</g-link>
        <g-link class="nav__link" to="/books/">Books</g-link>
        <g-link class="nav__link" to="/art/">Art</g-link>
        <g-link class="nav__link" to="/bio/">Bio</g-link>
      </nav>
  </header>
</template>

<style scoped>

header{
    background: url("../assets/lake.jpg");
}

#books header{
    background: url("../assets/rock.jpg");
}

#art header{
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../assets/trees.jpg");
}

#bio header{
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../assets/flower.jpg");
}

#books header, #art header, #bio header, header {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    min-height: 20em;
    padding: 1em;
    text-align: center;
    font-family: arial;
    text-transform: uppercase;
}

.nav a:focus, .nav__link.active--exact.active {
    border-bottom: 1px solid #eee;
}

.nav a:hover {
    border-bottom: 1px dashed #eee;
}

a{
    color: #ffffff;
    text-decoration: none;
}

h1 {
    text-align: center;
    margin: 1.1em auto;
    font-size: 2.7em;
    color: #fff;
    letter-spacing: 0.4em;
    font-weight: 200;
}

nav {
    text-align: center;
    padding: 1em;
    display: inline;
}

nav a {
    height: 100%;
    display: inline-block;
    font-size: 1.2em;
    margin: 0 1em 1em 1em;
    font-weight: bold;
    letter-spacing: 0.2em;
}

</style>